---
layout: default
title: Blog Posts
---

<div id="home">
  <h2><i class="fa fa-bookmark"></i> Blog Posts</h2>
  <ul id="blog-posts1" class="posts">
    {% for post in site.posts %}
      <li>
        <span>{{ post.date | date_to_string }} &raquo;</span>
        <a href="{{ post.url }}">{{ post.title }}</a>
      </li>
    {% endfor %}
  </ul>
  <h3><i class="fa fa-bookmark" style="color:#3445db"></i> Other Miscellaneous Posts</h3>
  <ul id="blog-posts2" class="posts">
    {% for mpost in site.misc %}
      <li>
        <span>{{ mpost.date | date_to_string }} &raquo;</span>
        <a href="{{ mpost.url }}">{{ mpost.title }}</a>
      </li>
    {% endfor %}
  </ul>
</div>