body {
    margin: 60px auto;
    width: 70%;
}
nav ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: none;
    font-weight: bold;
}
footer ul {
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
    padding: 0px;
    list-style: inline;
    font-weight: bold;
}
footer ul li {
    display: inline;
    padding: 5px;
    margin-right: 20px;
}
nav ul li {
    display: block;
    padding: 5px;
    margin-right: 20px;
}
a {
    text-decoration: none;
    color: #999;
}
a:link {
    color: blue;
}
a:visited {
    color: red;
}
a:hover {
    background-color: #555;
    color: white;
}
h1 {
    font-size: 3em;
    font-family:'Helvetica', 'Arial', 'Sans-Serif';
}
p {
    font-size: 1.2em;
    line-height: 1.4em;
    color: #333;
}
main-wrap {
    /* overflow to handle inner floating block */
    overflow: hidden;
}
sidebar {
    float: left;
    width: 30%;
}
content-wrap {
    float: right;
    width: 70%;
}
footer {
    float: bottom;
    border-top: 1px solid #d5d5d5;
    font-size: .8em;
    min-height: 40px;
}
ul.posts {
    margin: 20px auto 40px;
    font-size: 1.5em;
}
ul.posts li {
    list-style: none;
}
